@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MTG Card Collection App</h1>
    <p>You can search cards at any time but to add them to a collection you need to be logged in.</p>
</div>
