html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.grow {
    
}

.grow img {
    transition: 1s ease;
    height: 1em;
}

    .grow img:hover {
        -webkit-transform: scale(25);
        -ms-transform: scale(25);
        transform: scale(25);
        transition: 1s ease;
    }

i {
    position: relative;
    z-index: -1;
}

.ms-1, .ms-2, .ms-3, .ms-4, .ms-5 {
    margin-left: 0 !important;
}