html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-img {
    margin-left: 80px;
}

.card-name .card-img {
    visibility: hidden;
    position: absolute;
}

.card-name:hover .card-img {
    visibility: visible;
}

i {
    margin: 0;
    padding: 0;
}